<html>
<div class="floated-content"><h2>Careers</h2>

<div id="timeline" name="timeline">
<h4>1) SEO ANALYST</h4>
<p>Define requirements, tasks, and resources associated to SEO strategy.</p>
<p>Manage and execute implementation of SEO strategy.</p>
<p>Communication to clients, team, and management on strategy/project development, timelines, and results.</p>
<p>Collaborate on client strategy and goal definition for success.</p>
<p>Keep pace with SEO, search engine, social media and internet marketing industry trends and development.</p>
<p>Contribution to the company blog and at least one social media community.</p>
<p>Provide SEO analysis and recommendations in coordination with elements and structure of websites and web pages Perform keyword research in coordination with client business objectives to optimize existing content and uncover new opportunities.</p>
<p>Provide recommendations and execute/manage strategies for content development in coordination with SEO goals – general and keyword specific.</p>

<p>Strong understanding of Search Engine Marketing (SEM) and Search Engine Optimization (SEO) process</p>
<p>Experience working with popular keyword tools (Google, WordTracker, Keyword Discovery, etc)</p>
<p>Experience working with CMS and building/administering content in multiple CMS environments</p>
<p>Knowledge of HTML/CSS and website administration</p>
<p>High-level proficiency in MS Excel, PowerPoint, and Word</p>
<p>Experience with website analysis using a variety of analytics tools including Google Analytics as well as internal reporting tools</p>
<p>Knowledge of PPC programs and optimizing data gathered from both organic and paid sources</p>
<p>Should be able to guide team and take responsibilities for SEO and SMO strategies.</p>
<p>Should be able to deal with responsibilities entrusted as a senior manager.</p>


</div>

<div id="timeline1" name="timeline1">

<h4>2) WEB DEVELOPER</h4>

<p>Defines site objectives by analyzing user requirements; envisioning system features and functionality.</p>
<p>Designs and develops user interfaces to Internet/intranet applications by setting expectations and features priorities throughout development life cycle; determining design methodologies and tool sets; completing programming using languages and software products; designing and conducting tests.</p>
<p>Recommends system solutions by comparing advantages and disadvantages of custom development and purchase alternatives.
Integrates applications by designing database architecture and server scripting; studying and establishing connectivity with network systems, search engines, and information servers.</p>
<p>Creates multimedia applications by using authoring tools.</p>
<p>Completes applications development by coordinating requirements, schedules, and activities; contributing to team meetings; troubleshooting development and production problems across multiple environments and operating platforms.</p>
<p>Supports users by developing documentation and assistance tools.</p>
<p>Thorough knowledge of PHP,HTML,HTML5.CSS,Wordpress,Java Script</p>
<p>Dot Net and knowledge about other technologies will be a add on</p>

</div>

<div id="timeline2" name="timelinh3e1">
<h4>3) CONTENT WRITTER</h4>
<p>Copy- editing and proof reading articles and other web content.</p>
<p>Finding and developing new ideas for web content.</p>
<p>Assuring web content is user friendly and key worded for SEO benefit.</p>
<p>Moderating user generated content such as message facebook pages/ post/ twitter replies.</p>
<p>Familiarity with internet marketing search engine optimization or web development is a plus.</p>
<p>Ability to write online engaging online content.</p>
<p>Confident communication skill and excellent English, especially written.</p>
<p>Basic knowledge of HTML and at least some understanding of the management system.</p>

</div>


<p>Get with others who have the same desire, and take that first step</p>
<p>There is nothing better than working in an organization with a great growing culture. Digimerc is full of young heads and hearts working as a family. With us work is never a mandate because it's not just a JOB...you wake up every day looking forward to getting back to work on the mission with people you enjoy being around.</p>
<p>If you think you have a flare for digital media and think going Digital is the right career for you then Digimerc is waiting to hear from you.</p>
<p>Just drop us a mail on <span id="undrl">careers@digimercsolutions.com </span> and <span id="undrl">dmm.digimerc@gmail.com</span> with your updated resume or give us a call 020 24223505 to connect with the HR.</p> 

      </div>
      <!-- ends floated content -->
      <!-- sidebar -->
      <aside id="sidebar">
        <ul><h5>Form of enquiry</h5>
     
         <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus width="150px">
      <button type="submit" class="subscribe-submit">Subscribe</button>

        
     
        </ul>
        <em id="corner"></em> </aside>
      <!-- ENDS sidebar -->
    </div>
    <!--  page content-->
  </div>
</div>
<!-- ENDS MAIN -->

</body>
</html>


------------------------------------------------


    <!--<script>
        $(function(){
            // hide the div on page load and use a slidedown effect
            $('div.floated-content').fadeOut(0, function(){
                $(this).slideDown(2000);
		});
		});
    </script>-->


--------------------------------------------==----


<style>
#timeline,#timeline1,#timeline2{
    padding-top: 13%;
    margin-top: -10%;

}
span#undrl{

text-decoration:underline;

}
#sidebar {
    position: relative;
    width: 200px;
    float: left;
    padding: 45px 0px 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
box-shadow: 2px 5px 2px 3px white !important;
color: white;
}



.floated-content {
    position: relative;
    width:70%;
    float: left;

margin-left: 5%;
margin-top: 10%;
color: white;
}
aside{

display: block;

}


ul{

margin-left:-20px;
}


input.subscribe-input{
text-align: center;
width:170px;
color: black;
}

button.subscribe-submit{
    border-radius:0px;
margin-left: 40px;
margin-top:5px;
color: black;
}
</style>








