<html>


      <div class="floated-content"><h3>CONTENT MARKETING</h3>
<p>Write it simple.</p>
<p>Write it Memorable.</p>
<p> Write it inviting to look at.</p>
<p>Write and make it a fun to read.</p> 
<p>We do results in work that’s far more shareable.</p>
<p>Because content marketing is a commitment, not a campaign. If you’re interested in marketing your business online, you can’t escape hearing about content marketing. It’s everywhere you look or listen. Even though your online content is meant for a human audience, it must still meet the needs of the search engines.  The content that people desire and seek out and its great content that Google wants to rank well in the search results so those people can find your business. </p>
<p>Don’t you forget that we are in the world where it is all about concrete content and its marketing. We at Digimerc create engaging content, use consumer insights to connect with your customers, build your brand & drive commerce. We research before we set out to create content that hits the nail on the head. That’s when we spread it at just the right places.</p>
<p>When whosoever reads your content and says - "This was written specifically for me". Trust us your content has won the battle for your product or services because we at Digimerc are very well aware of the fact that Google only loves you (content) when everyone else loves your first.</p>
<p>All we do is just tell your true story well because marketing is no longer about the stuff that you make, but about the stories you tell.</p>
      </div>
      <!-- ends floated content -->
      <!-- sidebar -->
      <aside id="sidebar">
        <ul><h5>Form of enquiry</h5>
   
         <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus width="150px">
      <button type="submit" class="subscribe-submit">Subscribe</button>

        
        </ul>
        <em id="corner"></em> </aside>
      <!-- ENDS sidebar -->
    </div>
    <!--  page content-->


<!-- ENDS MAIN -->

</body>
</html>

    <script>
        $(function(){
            // hide the div on page load and use a slidedown effect
            $('div.floated-content').fadeOut(0, function(){
                $(this).slideDown(2000);
		});
		});
    </script>


<style>
#sidebar {
    position: relative;
    width: 200px;
    float: left;
    padding: 45px 0px 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
box-shadow: 2px 5px 2px 3px white !important;
color: white;
}



.floated-content {
    position: relative;
    width:70%;
    float: left;

margin-left: 5%;
margin-top: 10%;
    color: white;
}
aside{

display: block;

}


ul{

margin-left:-20px;
}


input.subscribe-input{
text-align: center;
width:170px;
color: black;
}

button.subscribe-submit{
    border-radius:0px;
margin-left: 40px;
margin-top:5px;
color: black;
}
</style>
