<html>


      <div class="floated-content"><h3>SMM</h3>
<p>
Today's marketing is really about sending out the right smoke signals to attract your tribe. This signal would be incomplete if you ignore the relevant social media platform in your marketing strategy. It would be like opening a new business and not telling anyone.
</p>
<p>
Social media is the hot trending marketing solution for any new or existing brand in creating new sales. In social media, content leads to conversations, conversations build relationships, and relationships result in ROI. It’s easier said than done as it requires expertise, experience and creativity to reach at right time and impact the customers. That’s where Digimerc helps you creating your brand awareness in social media.
</p>
<p>There are many platforms available today that helps create a brand on the social media but one need to strike the right chord so as to have desired outcome. We at Digimerc believe in blending strategy, creativity, media and technology. We develop big and small ideas that bring brands alive socially whether they exist as services, stories or campaigns. We craft and deploy an impactful social media strategy, reach out blogger communities having greatest voice within their social networks, perform social media distribution, tactfully manage campaigns, conduct performance analysis for social media campaigns and redefine the social media strategies to churn greater impact. Our expertise will assist you in choosing the right network, fill out your profiles, find your voice & tone, pick a posting strategy, analyze and test and then finally to automate and engage with your relevant audiences because we as a team focus on how to be social, not how to do social.
</p>

<p>
We believe in working closely together to solve our clients’ business problems with our technical skill but more about creative application of them.</p> 
<p>We do results in work that’s far more shareable.
</p>
      </div>
      <!-- ends floated content -->
      <!-- sidebar -->
      <aside id="sidebar">
        <ul><h5>Form of enquiry</h5>
     
         <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus width="150px">
      <button type="submit" class="subscribe-submit">Subscribe</button>

        
     
        </ul>
        <em id="corner"></em> </aside>
      <!-- ENDS sidebar -->
    </div>
    <!--  page content-->
  </div>
</div>
<!-- ENDS MAIN -->

</body>
</html>


<style>
#sidebar {
    position: relative;
    width: 200px;
    float: left;
    padding: 45px 0px 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
box-shadow: 2px 5px 2px 3px white !important;
color: white;
}



.floated-content {
    position: relative;
    width:70%;
    float: left;

margin-left: 80px;
margin-top: 10%;
color: white;
}
aside{

display: block;

}


ul{

margin-left:-20px;
}


input.subscribe-input{
text-align: center;
width:170px;
color: black;
}

button.subscribe-submit{
    border-radius:0px;
margin-left: 40px;
margin-top:5px;
color: black;
}
</style>
