<html>


      <div class="floated-content"><h3>ORM - Online Reputation Management</h3>
<p>
Brand is worthless if it doesn't connect with the right audiences in a relevant way, and, when you are thinking to showcase your relevant presence in today's online society, then nothing stays hidden for too long. 
</p>
<p>
In a business, reputation is everything, and that's where we come in. Honesty is your best online reputation management tool but, that is just not enough.You need an expertise who can make your voice being heard loud and clear across various digital media platforms as your clients are available everywhere. We will track the fans/followers' activities and opinions for your brand and devise a strategy in a like manner, to help you enhance, manage and protect your reputation because we know in any business, be it a small retailer or a multinational giant; brand building is a must. Our online reputation management services are designed to go into the world of social media, find mentions of your brand & protect against negative associations.
</p>
<p>Regardless if you are a new or existing business, negative online reviews can dramatically hurt your image. It only takes one negative comment to kill a dream. Online reviews can sway potential customers to either choose your business or go with a competitor. We would always ensure that your business is viewed in a positive light with our Reputation Management Services. We can help you gain a competitive edge.
</p>

<p>
We would screen the online pulse for your brand, deal with the content to support you and in the long run,induce positive sentiments. The thought is to offset the negative impressions; amplify and highlight the positive encounters which will,in the long run advance positive brand review. The effort we put in will be honest and transparent, all you have to do is to trust us with little amount of patience.</p> 
<p>It’s very fortunate that social media gives us a chance to build great online reputation relatively fast. Not at all like print or outdoor media, the internet is constant and it doesn't overlook. So if social media is a part of your business strategy, it's important to make sure it's working for you and not against you.</p>
      </div>
      <!-- ends floated content -->
      <!-- sidebar -->
      <aside id="sidebar">
        <ul><h5>Form of enquiry</h5>
     
         <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus width="150px">
      <button type="submit" class="subscribe-submit">Subscribe</button>

        
     
        </ul>
        <em id="corner"></em> </aside>
      <!-- ENDS sidebar -->
    </div>
    <!--  page content-->
  </div>
</div>
<!-- ENDS MAIN -->

</body>
</html>


    <script>
        $(function(){
            // hide the div on page load and use a slidedown effect
            $('div.floated-content').fadeOut(0, function(){
                $(this).slideDown(2000);
		});
		});
    </script>

<style>
#sidebar {
    position: relative;
    width: 200px;
    float: left;
    padding: 45px 0px 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
box-shadow: 2px 5px 2px 3px white !important;
color: white;
}

body p {
    margin-bottom: 21px;
}

.floated-content {
    position: relative;
    width:70%;
    float: left;
font: 14px/30px Roboto,Helvetica,Arial,sans-serif;
margin-left: 5%;
margin-top: 10%;
color: white;
}
aside{

display: block;

}


ul{

margin-left:-20px;
}


input.subscribe-input{
text-align: center;
width:170px;
color: black;
}

button.subscribe-submit{
    border-radius:0px;
margin-left: 40px;
margin-top:5px;
color: black;
}
</style>
